<form action="/" method="POST" style="margin-top: 100px;">
  <div class="input-group mt-5">
    <input class="form-control" type="url" name="inputUrl" id="inputUrl" style="width: 50px;"
      placeholder="Input URL here" required>
  </div>
  <button type="submit" class="btn btn-primary mt-3 d-block mx-auto"
    style="width: 200px; font-size: 25px;">Shorten</button>
</form>