<div class="container d-flex flex-column mt-5">
  <div class="input-group">
    <input class="form-control" type="url" name="originUrl" id="originUrl" value="{{inputUrl}}" disabled>
  </div>
  <div class="alert alert-secondary mt-3 p-2" role="alert" style="height: 40px; text-align: center;">
    Success! Please use the link below :
  </div>
  <div class="input-group">
    <input class="form-control" type="url" name="shorten" id="input-shorten" value="{{newShortUrl}}" disabled>
    <button onclick="copyOnclick()" class="btn btn-primary ms-2">COPY</button>
  </div>
  <div class="d-flex justify-content-center">
    <a href="/">
      <button type="button" class="btn btn-dark mt-3" style="width: 100px; font-size: larger;">Back</button>
    </a>
  </div>
</div>